{% extends 'AppFulbo/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Mis Partidos Jugados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cancha</th>
                <th>Liga</th>
                <th>Mi Puntaje</th>
                {% comment %} <th>Jugadores</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for puntaje in puntajes %}
            <tr>
                <td>{{ puntaje.partido.fecha_partido }}</td>
                <td>{{ puntaje.partido.cancha }}</td>
                <td>{{ puntaje.partido.liga }}</td>
                <td>{{ puntaje.puntaje }}</td>
                <td>
                    {% comment %} <ul class="list-unstyled mb-0">
                        {% for pp in puntaje.partido.puntajes_partidos.all %}
                        <li>{{ pp.jugador.apodo }}</li>
                        {% endfor %}
                    </ul> {% endcomment %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No has jugado ningún partido.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
