{% extends 'AppFulbo/base.html' %}
{% load i18n %}
{% block content %}
<h2>{% blocktranslate with match=partido %}Puntuar jugadores del partido {{ match }}{% endblocktranslate %}</h2>

<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>{% translate "Jugador" %}</th>
                <th>{% translate "Puntaje" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.apodo }}</td>
                <td>
                    <input type="number" name="puntaje_{{ jugador.id }}" step="0.1" min="0" max="10" class="form-control">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-success">{% translate "Guardar puntajes" %}</button>
</form>
{% endblock %}
