version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: 
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"

  web:
    build: .
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles  # <-- 1. Django guarda las fotos acá
    expose:
      - "8000"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432

  frontend-proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/static:ro
      - media_volume:/media:ro  # <-- 2. Nginx LEE las fotos desde acá
    depends_on:
      - web

  worker:
    build: .
    command: python manage.py sync_flespi 
    depends_on:
      - db
      - web
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432

  grafana:
    image: grafana/grafana-oss
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    depends_on:
      - db

  generador_datos:
    build: .
    command: >
      sh -c "python manage.py poblar_base && 
             python manage.py simular_viaje 123456789012345 & 
             python manage.py simular_viaje 987654321098765 & 
             wait"
    depends_on:
      - db
      - web
    env_file:
      - .env

volumes:
  postgres_data:
  static_volume:
  media_volume: