{% extends 'AppFulbo/base.html' %}

{% block content %}
<h1 class="mb-5"> Bienvenido devuelta!
</h1>
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inice sesion</title>
</head>
{% load crispy_forms_tags %}

    {{mensaje}}
    <form action="" method="post" > {% csrf_token %}

       
        {{ formulario|crispy }}

        <input type="submit" value="Iniciar sesion">
    </form>
    <br> </br>
    <div class="text-center mt-3">
    <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
    </div>
    <a class="btn btn-secondary" href="{% url 'registro' %}">No tienes una cuenta? Unete aqui!</a>
{% endblock %}

