{% extends 'AppFulbo/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Elige una Nueva Contraseña</div>
                <div class="card-body">
                    {% if validlink %}
                        <p>Por favor, introduce tu nueva contraseña dos veces.</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Cambiar mi Contraseña</button>
                        </form>
                    {% else %}
                        <p class="text-danger">Este enlace para restablecer la contraseña es inválido, probablemente porque ya ha sido utilizado. Por favor, solicita un nuevo reseteo.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}