{% extends "orders/base.html" %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
    <h1 class="h5 mb-3">Panel de la Farmacia - {{ user.farmacia.nombre }}</h1>

    <div class="mb-3">
        <a href="{% url 'farmacia_pedidos' %}" class="btn btn-primary">{% translate "Pedidos entrantes" %}</a>
        <a href="{% url 'gestionar_inventario' %}" class="btn btn-info">{% translate "Gestionar inventario" %}</a>

    </div>

</div>
<script>
    document.title = document.title + " | Panel Farmacia";
</script>

    {# La lista de pedidos ahora está en la vista dedicada 'Pedidos entrantes' #}
{% endblock %}
